
.head-logo{
    margin-left: 30px;
}
.head-logo p{
    font-size:3.6rem;
    color: #16b364;
}
.head-connects-ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
.head-connects-ul a{
    height: 40px;
    display: flex;
    justify-content: first baseline;
}
.head-connects-ul img{
    height: 30px;
    margin: 0px 20px 0px 20px ;
}
.head-wrapper{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: rgb(20, 26, 23) ;
    /* background-color: yellow; */
    z-index:10;
    top: 0px;
    padding: 10px 0px 10px 0px;
    box-shadow: 0px 10px 20px rgb(20, 26, 23);
}
.head-navbar-ul{
    display: flex;
    align-items: center;
}
.head-navbar-ul li{
    list-style: none;
    padding: 10px 15px 10px 15px;
    font-size: 1.2rem;
}
.head-navbar-ul li a{
    color: rgb(128, 128, 128);
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}
.head-navbar-ul li a:hover{
    color: white;
}
.head-navbar{
    position: absolute;
    right: 0px;
}
#head-btn{
   width: 100px; 
   box-shadow: 0px 0px 10px white;
   border-radius: 100px;
   transition: 0.35s;
}
#head-btn:hover{
    box-shadow: 0px 0px 12px #16b364;
    border-color: #16b364;
    color: #16b364;
    text-shadow: 0px 0px 5px #16b364;
}